wsdl/CommandMediatorAdmin.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://services.command.mediator.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.command.mediator.carbon.wso2.org">
   <wsdl:documentation>CommandMediatorAdmin</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.command.mediator.carbon.wso2.org">
         <xs:element name="getClassSetProps">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="className" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getClassSetPropsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getClassSetPropsRequest">
      <wsdl:part name="parameters" element="ns:getClassSetProps"/>
   </wsdl:message>
   <wsdl:message name="getClassSetPropsResponse">
      <wsdl:part name="parameters" element="ns:getClassSetPropsResponse"/>
   </wsdl:message>
   <wsdl:portType name="CommandMediatorAdminPortType">
      <wsdl:operation name="getClassSetProps">
         <wsdl:input message="ns:getClassSetPropsRequest" wsaw:Action="urn:getClassSetProps"/>
         <wsdl:output message="ns:getClassSetPropsResponse" wsaw:Action="urn:getClassSetPropsResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CommandMediatorAdminSoap11Binding" type="ns:CommandMediatorAdminPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getClassSetProps">
         <soap:operation soapAction="urn:getClassSetProps" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="CommandMediatorAdminSoap12Binding" type="ns:CommandMediatorAdminPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getClassSetProps">
         <soap12:operation soapAction="urn:getClassSetProps" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="CommandMediatorAdminHttpBinding" type="ns:CommandMediatorAdminPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getClassSetProps">
         <http:operation location="getClassSetProps"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CommandMediatorAdmin">
      <wsdl:port name="CommandMediatorAdminHttpsSoap11Endpoint" binding="ns:CommandMediatorAdminSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/CommandMediatorAdmin.CommandMediatorAdminHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="CommandMediatorAdminHttpsSoap12Endpoint" binding="ns:CommandMediatorAdminSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/CommandMediatorAdmin.CommandMediatorAdminHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="CommandMediatorAdminHttpsEndpoint" binding="ns:CommandMediatorAdminHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/CommandMediatorAdmin.CommandMediatorAdminHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>