wsdl/EntitlementAdminService.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://entitlement.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2451="http://entitlement.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2453="http://dto.entitlement.identity.carbon.wso2.org/xsd" targetNamespace="http://entitlement.identity.carbon.wso2.org">
   <wsdl:documentation>EntitlementAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax2454="http://dto.entitlement.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2452="http://entitlement.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
         <xs:import namespace="http://entitlement.identity.carbon.wso2.org/xsd"/>
         <xs:import namespace="http://dto.entitlement.identity.carbon.wso2.org/xsd"/>
         <xs:element name="clearAttributeFinderCacheByAttributes">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="attributeFinder" nillable="true" type="xs:string"/>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeIds" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="EntitlementAdminServiceEntitlementException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="EntitlementException" nillable="true" type="ax2451:EntitlementException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="clearDecisionCache">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="clearPolicyCache">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="clearAllAttributeCaches">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="clearCarbonAttributeCache">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="clearAttributeFinderCache">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="attributeFinder" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="clearAllResourceCaches">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="clearCarbonResourceCache">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="clearResourceFinderCache">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="resourceFinder" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="refreshAttributeFinder">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="attributeFinder" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="refreshResourceFinder">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="resourceFinder" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="refreshPolicyFinders">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="policyFinder" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doTestRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="xacmlRequest" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doTestRequestResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doTestRequestForGivenPolicies">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="xacmlRequest" nillable="true" type="xs:string"/>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="policies" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doTestRequestForGivenPoliciesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPDPData">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPDPDataResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2454:PDPDataHolder"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPolicyFinderData">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="finder" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPolicyFinderDataResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2454:PolicyFinderDataHolder"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPIPAttributeFinderData">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="finder" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPIPAttributeFinderDataResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2454:PIPFinderDataHolder"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPIPResourceFinderData">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="finder" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPIPResourceFinderDataResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2454:PIPFinderDataHolder"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getGlobalPolicyAlgorithm">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getGlobalPolicyAlgorithmResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="setGlobalPolicyAlgorithm">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="policyCombiningAlgorithm" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.entitlement.identity.carbon.wso2.org/xsd">
         <xs:complexType name="PDPDataHolder">
            <xs:sequence>
               <xs:element minOccurs="0" name="decisionCacheEnable" type="xs:boolean"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="pipAttributeFinders" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="pipResourceFinders" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="policyFinders" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PolicyFinderDataHolder">
            <xs:sequence>
               <xs:element minOccurs="0" name="className" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="combiningAlgorithm" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="policyIdentifiers" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PIPFinderDataHolder">
            <xs:sequence>
               <xs:element minOccurs="0" name="className" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedAttributeIds" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entitlement.identity.carbon.wso2.org/xsd">
         <xs:complexType name="EntitlementException">
            <xs:sequence>
               <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getPIPResourceFinderDataRequest">
      <wsdl:part name="parameters" element="ns1:getPIPResourceFinderData"/>
   </wsdl:message>
   <wsdl:message name="getPIPResourceFinderDataResponse">
      <wsdl:part name="parameters" element="ns1:getPIPResourceFinderDataResponse"/>
   </wsdl:message>
   <wsdl:message name="setGlobalPolicyAlgorithmRequest">
      <wsdl:part name="parameters" element="ns1:setGlobalPolicyAlgorithm"/>
   </wsdl:message>
   <wsdl:message name="setGlobalPolicyAlgorithmResponse"/>
   <wsdl:message name="EntitlementAdminServiceEntitlementException">
      <wsdl:part name="parameters" element="ns1:EntitlementAdminServiceEntitlementException"/>
   </wsdl:message>
   <wsdl:message name="clearDecisionCacheRequest">
      <wsdl:part name="parameters" element="ns1:clearDecisionCache"/>
   </wsdl:message>
   <wsdl:message name="clearDecisionCacheResponse"/>
   <wsdl:message name="getGlobalPolicyAlgorithmRequest">
      <wsdl:part name="parameters" element="ns1:getGlobalPolicyAlgorithm"/>
   </wsdl:message>
   <wsdl:message name="getGlobalPolicyAlgorithmResponse">
      <wsdl:part name="parameters" element="ns1:getGlobalPolicyAlgorithmResponse"/>
   </wsdl:message>
   <wsdl:message name="clearAllAttributeCachesRequest">
      <wsdl:part name="parameters" element="ns1:clearAllAttributeCaches"/>
   </wsdl:message>
   <wsdl:message name="clearAllAttributeCachesResponse"/>
   <wsdl:message name="clearPolicyCacheRequest">
      <wsdl:part name="parameters" element="ns1:clearPolicyCache"/>
   </wsdl:message>
   <wsdl:message name="clearPolicyCacheResponse"/>
   <wsdl:message name="getPolicyFinderDataRequest">
      <wsdl:part name="parameters" element="ns1:getPolicyFinderData"/>
   </wsdl:message>
   <wsdl:message name="getPolicyFinderDataResponse">
      <wsdl:part name="parameters" element="ns1:getPolicyFinderDataResponse"/>
   </wsdl:message>
   <wsdl:message name="getPDPDataRequest">
      <wsdl:part name="parameters" element="ns1:getPDPData"/>
   </wsdl:message>
   <wsdl:message name="getPDPDataResponse">
      <wsdl:part name="parameters" element="ns1:getPDPDataResponse"/>
   </wsdl:message>
   <wsdl:message name="clearAllResourceCachesRequest">
      <wsdl:part name="parameters" element="ns1:clearAllResourceCaches"/>
   </wsdl:message>
   <wsdl:message name="clearAllResourceCachesResponse"/>
   <wsdl:message name="clearCarbonAttributeCacheRequest">
      <wsdl:part name="parameters" element="ns1:clearCarbonAttributeCache"/>
   </wsdl:message>
   <wsdl:message name="clearCarbonAttributeCacheResponse"/>
   <wsdl:message name="refreshAttributeFinderRequest">
      <wsdl:part name="parameters" element="ns1:refreshAttributeFinder"/>
   </wsdl:message>
   <wsdl:message name="refreshAttributeFinderResponse"/>
   <wsdl:message name="clearAttributeFinderCacheRequest">
      <wsdl:part name="parameters" element="ns1:clearAttributeFinderCache"/>
   </wsdl:message>
   <wsdl:message name="clearAttributeFinderCacheResponse"/>
   <wsdl:message name="clearResourceFinderCacheRequest">
      <wsdl:part name="parameters" element="ns1:clearResourceFinderCache"/>
   </wsdl:message>
   <wsdl:message name="clearResourceFinderCacheResponse"/>
   <wsdl:message name="getPIPAttributeFinderDataRequest">
      <wsdl:part name="parameters" element="ns1:getPIPAttributeFinderData"/>
   </wsdl:message>
   <wsdl:message name="getPIPAttributeFinderDataResponse">
      <wsdl:part name="parameters" element="ns1:getPIPAttributeFinderDataResponse"/>
   </wsdl:message>
   <wsdl:message name="clearCarbonResourceCacheRequest">
      <wsdl:part name="parameters" element="ns1:clearCarbonResourceCache"/>
   </wsdl:message>
   <wsdl:message name="clearCarbonResourceCacheResponse"/>
   <wsdl:message name="doTestRequestRequest">
      <wsdl:part name="parameters" element="ns1:doTestRequest"/>
   </wsdl:message>
   <wsdl:message name="doTestRequestResponse">
      <wsdl:part name="parameters" element="ns1:doTestRequestResponse"/>
   </wsdl:message>
   <wsdl:message name="clearAttributeFinderCacheByAttributesRequest">
      <wsdl:part name="parameters" element="ns1:clearAttributeFinderCacheByAttributes"/>
   </wsdl:message>
   <wsdl:message name="clearAttributeFinderCacheByAttributesResponse"/>
   <wsdl:message name="doTestRequestForGivenPoliciesRequest">
      <wsdl:part name="parameters" element="ns1:doTestRequestForGivenPolicies"/>
   </wsdl:message>
   <wsdl:message name="doTestRequestForGivenPoliciesResponse">
      <wsdl:part name="parameters" element="ns1:doTestRequestForGivenPoliciesResponse"/>
   </wsdl:message>
   <wsdl:message name="refreshResourceFinderRequest">
      <wsdl:part name="parameters" element="ns1:refreshResourceFinder"/>
   </wsdl:message>
   <wsdl:message name="refreshResourceFinderResponse"/>
   <wsdl:message name="refreshPolicyFindersRequest">
      <wsdl:part name="parameters" element="ns1:refreshPolicyFinders"/>
   </wsdl:message>
   <wsdl:message name="refreshPolicyFindersResponse"/>
   <wsdl:portType name="EntitlementAdminServicePortType">
      <wsdl:operation name="getPIPResourceFinderData">
         <wsdl:input message="tns:getPIPResourceFinderDataRequest" wsaw:Action="urn:getPIPResourceFinderData"/>
         <wsdl:output message="tns:getPIPResourceFinderDataResponse" wsaw:Action="urn:getPIPResourceFinderDataResponse"/>
      </wsdl:operation>
      <wsdl:operation name="setGlobalPolicyAlgorithm">
         <wsdl:input message="tns:setGlobalPolicyAlgorithmRequest" wsaw:Action="urn:setGlobalPolicyAlgorithm"/>
         <wsdl:output message="tns:setGlobalPolicyAlgorithmResponse" wsaw:Action="urn:setGlobalPolicyAlgorithmResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:setGlobalPolicyAlgorithmEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="clearDecisionCache">
         <wsdl:input message="tns:clearDecisionCacheRequest" wsaw:Action="urn:clearDecisionCache"/>
         <wsdl:output message="tns:clearDecisionCacheResponse" wsaw:Action="urn:clearDecisionCacheResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:clearDecisionCacheEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="getGlobalPolicyAlgorithm">
         <wsdl:input message="tns:getGlobalPolicyAlgorithmRequest" wsaw:Action="urn:getGlobalPolicyAlgorithm"/>
         <wsdl:output message="tns:getGlobalPolicyAlgorithmResponse" wsaw:Action="urn:getGlobalPolicyAlgorithmResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:getGlobalPolicyAlgorithmEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="clearAllAttributeCaches">
         <wsdl:input message="tns:clearAllAttributeCachesRequest" wsaw:Action="urn:clearAllAttributeCaches"/>
         <wsdl:output message="tns:clearAllAttributeCachesResponse" wsaw:Action="urn:clearAllAttributeCachesResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:clearAllAttributeCachesEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="clearPolicyCache">
         <wsdl:input message="tns:clearPolicyCacheRequest" wsaw:Action="urn:clearPolicyCache"/>
         <wsdl:output message="tns:clearPolicyCacheResponse" wsaw:Action="urn:clearPolicyCacheResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:clearPolicyCacheEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="getPolicyFinderData">
         <wsdl:input message="tns:getPolicyFinderDataRequest" wsaw:Action="urn:getPolicyFinderData"/>
         <wsdl:output message="tns:getPolicyFinderDataResponse" wsaw:Action="urn:getPolicyFinderDataResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getPDPData">
         <wsdl:input message="tns:getPDPDataRequest" wsaw:Action="urn:getPDPData"/>
         <wsdl:output message="tns:getPDPDataResponse" wsaw:Action="urn:getPDPDataResponse"/>
      </wsdl:operation>
      <wsdl:operation name="clearAllResourceCaches">
         <wsdl:input message="tns:clearAllResourceCachesRequest" wsaw:Action="urn:clearAllResourceCaches"/>
         <wsdl:output message="tns:clearAllResourceCachesResponse" wsaw:Action="urn:clearAllResourceCachesResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:clearAllResourceCachesEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="clearCarbonAttributeCache">
         <wsdl:input message="tns:clearCarbonAttributeCacheRequest" wsaw:Action="urn:clearCarbonAttributeCache"/>
         <wsdl:output message="tns:clearCarbonAttributeCacheResponse" wsaw:Action="urn:clearCarbonAttributeCacheResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:clearCarbonAttributeCacheEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="refreshAttributeFinder">
         <wsdl:input message="tns:refreshAttributeFinderRequest" wsaw:Action="urn:refreshAttributeFinder"/>
         <wsdl:output message="tns:refreshAttributeFinderResponse" wsaw:Action="urn:refreshAttributeFinderResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:refreshAttributeFinderEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="clearAttributeFinderCache">
         <wsdl:input message="tns:clearAttributeFinderCacheRequest" wsaw:Action="urn:clearAttributeFinderCache"/>
         <wsdl:output message="tns:clearAttributeFinderCacheResponse" wsaw:Action="urn:clearAttributeFinderCacheResponse"/>
      </wsdl:operation>
      <wsdl:operation name="clearResourceFinderCache">
         <wsdl:input message="tns:clearResourceFinderCacheRequest" wsaw:Action="urn:clearResourceFinderCache"/>
         <wsdl:output message="tns:clearResourceFinderCacheResponse" wsaw:Action="urn:clearResourceFinderCacheResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getPIPAttributeFinderData">
         <wsdl:input message="tns:getPIPAttributeFinderDataRequest" wsaw:Action="urn:getPIPAttributeFinderData"/>
         <wsdl:output message="tns:getPIPAttributeFinderDataResponse" wsaw:Action="urn:getPIPAttributeFinderDataResponse"/>
      </wsdl:operation>
      <wsdl:operation name="clearCarbonResourceCache">
         <wsdl:input message="tns:clearCarbonResourceCacheRequest" wsaw:Action="urn:clearCarbonResourceCache"/>
         <wsdl:output message="tns:clearCarbonResourceCacheResponse" wsaw:Action="urn:clearCarbonResourceCacheResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:clearCarbonResourceCacheEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="doTestRequest">
         <wsdl:input message="tns:doTestRequestRequest" wsaw:Action="urn:doTestRequest"/>
         <wsdl:output message="tns:doTestRequestResponse" wsaw:Action="urn:doTestRequestResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:doTestRequestEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="clearAttributeFinderCacheByAttributes">
         <wsdl:input message="tns:clearAttributeFinderCacheByAttributesRequest" wsaw:Action="urn:clearAttributeFinderCacheByAttributes"/>
         <wsdl:output message="tns:clearAttributeFinderCacheByAttributesResponse" wsaw:Action="urn:clearAttributeFinderCacheByAttributesResponse"/>
      </wsdl:operation>
      <wsdl:operation name="doTestRequestForGivenPolicies">
         <wsdl:input message="tns:doTestRequestForGivenPoliciesRequest" wsaw:Action="urn:doTestRequestForGivenPolicies"/>
         <wsdl:output message="tns:doTestRequestForGivenPoliciesResponse" wsaw:Action="urn:doTestRequestForGivenPoliciesResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:doTestRequestForGivenPoliciesEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="refreshResourceFinder">
         <wsdl:input message="tns:refreshResourceFinderRequest" wsaw:Action="urn:refreshResourceFinder"/>
         <wsdl:output message="tns:refreshResourceFinderResponse" wsaw:Action="urn:refreshResourceFinderResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:refreshResourceFinderEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
      <wsdl:operation name="refreshPolicyFinders">
         <wsdl:input message="tns:refreshPolicyFindersRequest" wsaw:Action="urn:refreshPolicyFinders"/>
         <wsdl:output message="tns:refreshPolicyFindersResponse" wsaw:Action="urn:refreshPolicyFindersResponse"/>
         <wsdl:fault message="tns:EntitlementAdminServiceEntitlementException" name="EntitlementAdminServiceEntitlementException" wsaw:Action="urn:refreshPolicyFindersEntitlementAdminServiceEntitlementException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EntitlementAdminServiceSoap11Binding" type="tns:EntitlementAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getPIPResourceFinderData">
         <soap:operation soapAction="urn:getPIPResourceFinderData" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setGlobalPolicyAlgorithm">
         <soap:operation soapAction="urn:setGlobalPolicyAlgorithm" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearDecisionCache">
         <soap:operation soapAction="urn:clearDecisionCache" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getGlobalPolicyAlgorithm">
         <soap:operation soapAction="urn:getGlobalPolicyAlgorithm" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearAllAttributeCaches">
         <soap:operation soapAction="urn:clearAllAttributeCaches" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearPolicyCache">
         <soap:operation soapAction="urn:clearPolicyCache" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPolicyFinderData">
         <soap:operation soapAction="urn:getPolicyFinderData" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPDPData">
         <soap:operation soapAction="urn:getPDPData" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearAllResourceCaches">
         <soap:operation soapAction="urn:clearAllResourceCaches" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearCarbonAttributeCache">
         <soap:operation soapAction="urn:clearCarbonAttributeCache" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="refreshAttributeFinder">
         <soap:operation soapAction="urn:refreshAttributeFinder" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearAttributeFinderCache">
         <soap:operation soapAction="urn:clearAttributeFinderCache" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearResourceFinderCache">
         <soap:operation soapAction="urn:clearResourceFinderCache" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPIPAttributeFinderData">
         <soap:operation soapAction="urn:getPIPAttributeFinderData" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearCarbonResourceCache">
         <soap:operation soapAction="urn:clearCarbonResourceCache" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="doTestRequest">
         <soap:operation soapAction="urn:doTestRequest" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearAttributeFinderCacheByAttributes">
         <soap:operation soapAction="urn:clearAttributeFinderCacheByAttributes" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doTestRequestForGivenPolicies">
         <soap:operation soapAction="urn:doTestRequestForGivenPolicies" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="refreshResourceFinder">
         <soap:operation soapAction="urn:refreshResourceFinder" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="refreshPolicyFinders">
         <soap:operation soapAction="urn:refreshPolicyFinders" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="EntitlementAdminServiceSoap12Binding" type="tns:EntitlementAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getPIPResourceFinderData">
         <soap12:operation soapAction="urn:getPIPResourceFinderData" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setGlobalPolicyAlgorithm">
         <soap12:operation soapAction="urn:setGlobalPolicyAlgorithm" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearDecisionCache">
         <soap12:operation soapAction="urn:clearDecisionCache" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getGlobalPolicyAlgorithm">
         <soap12:operation soapAction="urn:getGlobalPolicyAlgorithm" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearAllAttributeCaches">
         <soap12:operation soapAction="urn:clearAllAttributeCaches" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearPolicyCache">
         <soap12:operation soapAction="urn:clearPolicyCache" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPolicyFinderData">
         <soap12:operation soapAction="urn:getPolicyFinderData" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPDPData">
         <soap12:operation soapAction="urn:getPDPData" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearAllResourceCaches">
         <soap12:operation soapAction="urn:clearAllResourceCaches" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearCarbonAttributeCache">
         <soap12:operation soapAction="urn:clearCarbonAttributeCache" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="refreshAttributeFinder">
         <soap12:operation soapAction="urn:refreshAttributeFinder" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearAttributeFinderCache">
         <soap12:operation soapAction="urn:clearAttributeFinderCache" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearResourceFinderCache">
         <soap12:operation soapAction="urn:clearResourceFinderCache" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPIPAttributeFinderData">
         <soap12:operation soapAction="urn:getPIPAttributeFinderData" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearCarbonResourceCache">
         <soap12:operation soapAction="urn:clearCarbonResourceCache" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="doTestRequest">
         <soap12:operation soapAction="urn:doTestRequest" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearAttributeFinderCacheByAttributes">
         <soap12:operation soapAction="urn:clearAttributeFinderCacheByAttributes" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doTestRequestForGivenPolicies">
         <soap12:operation soapAction="urn:doTestRequestForGivenPolicies" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="refreshResourceFinder">
         <soap12:operation soapAction="urn:refreshResourceFinder" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="refreshPolicyFinders">
         <soap12:operation soapAction="urn:refreshPolicyFinders" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EntitlementAdminServiceEntitlementException">
            <soap12:fault use="literal" name="EntitlementAdminServiceEntitlementException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="EntitlementAdminServiceHttpBinding" type="tns:EntitlementAdminServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getPIPResourceFinderData">
         <http:operation location="getPIPResourceFinderData"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setGlobalPolicyAlgorithm">
         <http:operation location="setGlobalPolicyAlgorithm"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearDecisionCache">
         <http:operation location="clearDecisionCache"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getGlobalPolicyAlgorithm">
         <http:operation location="getGlobalPolicyAlgorithm"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearAllAttributeCaches">
         <http:operation location="clearAllAttributeCaches"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearPolicyCache">
         <http:operation location="clearPolicyCache"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPolicyFinderData">
         <http:operation location="getPolicyFinderData"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPDPData">
         <http:operation location="getPDPData"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearAllResourceCaches">
         <http:operation location="clearAllResourceCaches"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearCarbonAttributeCache">
         <http:operation location="clearCarbonAttributeCache"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="refreshAttributeFinder">
         <http:operation location="refreshAttributeFinder"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearAttributeFinderCache">
         <http:operation location="clearAttributeFinderCache"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearResourceFinderCache">
         <http:operation location="clearResourceFinderCache"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPIPAttributeFinderData">
         <http:operation location="getPIPAttributeFinderData"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearCarbonResourceCache">
         <http:operation location="clearCarbonResourceCache"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doTestRequest">
         <http:operation location="doTestRequest"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="clearAttributeFinderCacheByAttributes">
         <http:operation location="clearAttributeFinderCacheByAttributes"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doTestRequestForGivenPolicies">
         <http:operation location="doTestRequestForGivenPolicies"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="refreshResourceFinder">
         <http:operation location="refreshResourceFinder"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="refreshPolicyFinders">
         <http:operation location="refreshPolicyFinders"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EntitlementAdminService">
      <wsdl:port name="EntitlementAdminServiceHttpsSoap11Endpoint" binding="tns:EntitlementAdminServiceSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/EntitlementAdminService.EntitlementAdminServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="EntitlementAdminServiceHttpsSoap12Endpoint" binding="tns:EntitlementAdminServiceSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/EntitlementAdminService.EntitlementAdminServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="EntitlementAdminServiceHttpsEndpoint" binding="tns:EntitlementAdminServiceHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/EntitlementAdminService.EntitlementAdminServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>