wsdl/FileUploadService.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2147="http://common.core.carbon.wso2.org/xsd" xmlns:ns="http://fileupload.services.core.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fileupload.services.core.carbon.wso2.org">
   <wsdl:documentation>FileUploadService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.core.carbon.wso2.org/xsd">
         <xs:complexType name="UploadedFileItem">
            <xs:sequence>
               <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
               <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax2148="http://common.core.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fileupload.services.core.carbon.wso2.org">
         <xs:import namespace="http://common.core.carbon.wso2.org/xsd"/>
         <xs:element name="FileUploadServiceException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="FileUploadServiceException" nillable="true" type="ns:Exception"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="uploadFiles">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="uploadedFileItems" nillable="true" type="ax2147:UploadedFileItem"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="uploadFilesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="uploadFilesRequest">
      <wsdl:part name="parameters" element="ns:uploadFiles"/>
   </wsdl:message>
   <wsdl:message name="uploadFilesResponse">
      <wsdl:part name="parameters" element="ns:uploadFilesResponse"/>
   </wsdl:message>
   <wsdl:message name="FileUploadServiceException">
      <wsdl:part name="parameters" element="ns:FileUploadServiceException"/>
   </wsdl:message>
   <wsdl:portType name="FileUploadServicePortType">
      <wsdl:operation name="uploadFiles">
         <wsdl:input message="ns:uploadFilesRequest" wsaw:Action="urn:uploadFiles"/>
         <wsdl:output message="ns:uploadFilesResponse" wsaw:Action="urn:uploadFilesResponse"/>
         <wsdl:fault message="ns:FileUploadServiceException" name="FileUploadServiceException" wsaw:Action="urn:uploadFilesFileUploadServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="FileUploadServiceSoap11Binding" type="ns:FileUploadServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="uploadFiles">
         <soap:operation soapAction="urn:uploadFiles" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FileUploadServiceException">
            <soap:fault use="literal" name="FileUploadServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="FileUploadServiceSoap12Binding" type="ns:FileUploadServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="uploadFiles">
         <soap12:operation soapAction="urn:uploadFiles" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FileUploadServiceException">
            <soap12:fault use="literal" name="FileUploadServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="FileUploadServiceHttpBinding" type="ns:FileUploadServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="uploadFiles">
         <http:operation location="uploadFiles"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="FileUploadService">
      <wsdl:port name="FileUploadServiceHttpsSoap11Endpoint" binding="ns:FileUploadServiceSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/FileUploadService.FileUploadServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="FileUploadServiceHttpsSoap12Endpoint" binding="ns:FileUploadServiceSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/FileUploadService.FileUploadServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="FileUploadServiceHttpsEndpoint" binding="ns:FileUploadServiceHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/FileUploadService.FileUploadServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>