wsdl/LoginStatisticsAdmin.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://stats.authentication.services.core.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2230="http://stats.authentication.services.core.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://stats.authentication.services.core.carbon.wso2.org">
   <wsdl:documentation>LoginStatisticsAdmin</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax2231="http://stats.authentication.services.core.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://stats.authentication.services.core.carbon.wso2.org">
         <xs:import namespace="http://stats.authentication.services.core.carbon.wso2.org/xsd"/>
         <xs:element name="getUserBasedLoginAttempts">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getUserBasedLoginAttemptsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2230:UserAttempts"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getLoginAttempts">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getLoginAttemptsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2230:LoginAttempts"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://stats.authentication.services.core.carbon.wso2.org/xsd">
         <xs:complexType name="UserAttempts">
            <xs:sequence>
               <xs:element minOccurs="0" name="failedLogins" type="xs:int"/>
               <xs:element minOccurs="0" name="totalLogins" type="xs:int"/>
               <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="LoginAttempts">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="loginAttempts" nillable="true" type="ax2230:LoginAttempt"/>
               <xs:element minOccurs="0" name="totalAttempts" type="xs:int"/>
               <xs:element minOccurs="0" name="totalFailedAttempts" type="xs:int"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="LoginAttempt">
            <xs:sequence>
               <xs:element minOccurs="0" name="failureReason" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="remoteAddress" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="successful" type="xs:boolean"/>
               <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:date"/>
               <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getLoginAttemptsRequest">
      <wsdl:part name="parameters" element="ns:getLoginAttempts"/>
   </wsdl:message>
   <wsdl:message name="getLoginAttemptsResponse">
      <wsdl:part name="parameters" element="ns:getLoginAttemptsResponse"/>
   </wsdl:message>
   <wsdl:message name="getUserBasedLoginAttemptsRequest">
      <wsdl:part name="parameters" element="ns:getUserBasedLoginAttempts"/>
   </wsdl:message>
   <wsdl:message name="getUserBasedLoginAttemptsResponse">
      <wsdl:part name="parameters" element="ns:getUserBasedLoginAttemptsResponse"/>
   </wsdl:message>
   <wsdl:portType name="LoginStatisticsAdminPortType">
      <wsdl:operation name="getLoginAttempts">
         <wsdl:input message="ns:getLoginAttemptsRequest" wsaw:Action="urn:getLoginAttempts"/>
         <wsdl:output message="ns:getLoginAttemptsResponse" wsaw:Action="urn:getLoginAttemptsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getUserBasedLoginAttempts">
         <wsdl:input message="ns:getUserBasedLoginAttemptsRequest" wsaw:Action="urn:getUserBasedLoginAttempts"/>
         <wsdl:output message="ns:getUserBasedLoginAttemptsResponse" wsaw:Action="urn:getUserBasedLoginAttemptsResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="LoginStatisticsAdminSoap11Binding" type="ns:LoginStatisticsAdminPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getLoginAttempts">
         <soap:operation soapAction="urn:getLoginAttempts" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getUserBasedLoginAttempts">
         <soap:operation soapAction="urn:getUserBasedLoginAttempts" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="LoginStatisticsAdminSoap12Binding" type="ns:LoginStatisticsAdminPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getLoginAttempts">
         <soap12:operation soapAction="urn:getLoginAttempts" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getUserBasedLoginAttempts">
         <soap12:operation soapAction="urn:getUserBasedLoginAttempts" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="LoginStatisticsAdminHttpBinding" type="ns:LoginStatisticsAdminPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getLoginAttempts">
         <http:operation location="getLoginAttempts"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getUserBasedLoginAttempts">
         <http:operation location="getUserBasedLoginAttempts"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="LoginStatisticsAdmin">
      <wsdl:port name="LoginStatisticsAdminHttpsSoap11Endpoint" binding="ns:LoginStatisticsAdminSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/LoginStatisticsAdmin.LoginStatisticsAdminHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="LoginStatisticsAdminHttpsSoap12Endpoint" binding="ns:LoginStatisticsAdminSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/LoginStatisticsAdmin.LoginStatisticsAdminHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="LoginStatisticsAdminHttpsEndpoint" binding="ns:LoginStatisticsAdminHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/LoginStatisticsAdmin.LoginStatisticsAdminHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>