wsdl/MessageTracerAdmin.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax23="http://conf.handler.tracer.message.analytics.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.handler.tracer.message.analytics.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.handler.tracer.message.analytics.carbon.wso2.org">
   <wsdl:documentation>MessageTracerAdmin</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax24="http://conf.handler.tracer.message.analytics.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
         <xs:import namespace="http://conf.handler.tracer.message.analytics.carbon.wso2.org/xsd"/>
         <xs:element name="getEventingConfigData">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getEventingConfigDataResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax24:EventingConfigData"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isCloudDeployment">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="isCloudDeploymentResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getServerConfigBAMServerURL">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getServerConfigBAMServerURLResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="MessageTracerAdminException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="MessageTracerAdminException" nillable="true" type="ns1:Exception"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="configureEventing">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="eventingConfigData" nillable="true" type="ax24:EventingConfigData"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://conf.handler.tracer.message.analytics.carbon.wso2.org/xsd">
         <xs:complexType name="EventingConfigData">
            <xs:sequence>
               <xs:element minOccurs="0" name="dumpBodyEnable" type="xs:boolean"/>
               <xs:element minOccurs="0" name="loggingEnable" type="xs:boolean"/>
               <xs:element minOccurs="0" name="messageTracingEnable" type="xs:boolean"/>
               <xs:element minOccurs="0" name="publishToBAMEnable" type="xs:boolean"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getServerConfigBAMServerURLRequest">
      <wsdl:part name="parameters" element="ns1:getServerConfigBAMServerURL"/>
   </wsdl:message>
   <wsdl:message name="getServerConfigBAMServerURLResponse">
      <wsdl:part name="parameters" element="ns1:getServerConfigBAMServerURLResponse"/>
   </wsdl:message>
   <wsdl:message name="getEventingConfigDataRequest">
      <wsdl:part name="parameters" element="ns1:getEventingConfigData"/>
   </wsdl:message>
   <wsdl:message name="getEventingConfigDataResponse">
      <wsdl:part name="parameters" element="ns1:getEventingConfigDataResponse"/>
   </wsdl:message>
   <wsdl:message name="isCloudDeploymentRequest">
      <wsdl:part name="parameters" element="ns1:isCloudDeployment"/>
   </wsdl:message>
   <wsdl:message name="isCloudDeploymentResponse">
      <wsdl:part name="parameters" element="ns1:isCloudDeploymentResponse"/>
   </wsdl:message>
   <wsdl:message name="configureEventingRequest">
      <wsdl:part name="parameters" element="ns1:configureEventing"/>
   </wsdl:message>
   <wsdl:message name="MessageTracerAdminException">
      <wsdl:part name="parameters" element="ns1:MessageTracerAdminException"/>
   </wsdl:message>
   <wsdl:portType name="MessageTracerAdminPortType">
      <wsdl:operation name="getServerConfigBAMServerURL">
         <wsdl:input message="tns:getServerConfigBAMServerURLRequest" wsaw:Action="urn:getServerConfigBAMServerURL"/>
         <wsdl:output message="tns:getServerConfigBAMServerURLResponse" wsaw:Action="urn:getServerConfigBAMServerURLResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getEventingConfigData">
         <wsdl:input message="tns:getEventingConfigDataRequest" wsaw:Action="urn:getEventingConfigData"/>
         <wsdl:output message="tns:getEventingConfigDataResponse" wsaw:Action="urn:getEventingConfigDataResponse"/>
      </wsdl:operation>
      <wsdl:operation name="isCloudDeployment">
         <wsdl:input message="tns:isCloudDeploymentRequest" wsaw:Action="urn:isCloudDeployment"/>
         <wsdl:output message="tns:isCloudDeploymentResponse" wsaw:Action="urn:isCloudDeploymentResponse"/>
      </wsdl:operation>
      <wsdl:operation name="configureEventing">
         <wsdl:input message="tns:configureEventingRequest" wsaw:Action="urn:configureEventing"/>
         <wsdl:fault message="tns:MessageTracerAdminException" name="MessageTracerAdminException" wsaw:Action="urn:configureEventingMessageTracerAdminException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MessageTracerAdminSoap11Binding" type="tns:MessageTracerAdminPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getServerConfigBAMServerURL">
         <soap:operation soapAction="urn:getServerConfigBAMServerURL" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getEventingConfigData">
         <soap:operation soapAction="urn:getEventingConfigData" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="isCloudDeployment">
         <soap:operation soapAction="urn:isCloudDeployment" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="configureEventing">
         <soap:operation soapAction="urn:configureEventing" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="MessageTracerAdminException">
            <soap:fault use="literal" name="MessageTracerAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="MessageTracerAdminSoap12Binding" type="tns:MessageTracerAdminPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getServerConfigBAMServerURL">
         <soap12:operation soapAction="urn:getServerConfigBAMServerURL" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getEventingConfigData">
         <soap12:operation soapAction="urn:getEventingConfigData" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="isCloudDeployment">
         <soap12:operation soapAction="urn:isCloudDeployment" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="configureEventing">
         <soap12:operation soapAction="urn:configureEventing" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="MessageTracerAdminException">
            <soap12:fault use="literal" name="MessageTracerAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="MessageTracerAdminHttpBinding" type="tns:MessageTracerAdminPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getServerConfigBAMServerURL">
         <http:operation location="getServerConfigBAMServerURL"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getEventingConfigData">
         <http:operation location="getEventingConfigData"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="isCloudDeployment">
         <http:operation location="isCloudDeployment"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="configureEventing">
         <http:operation location="configureEventing"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="MessageTracerAdmin">
      <wsdl:port name="MessageTracerAdminHttpsSoap11Endpoint" binding="tns:MessageTracerAdminSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/MessageTracerAdmin.MessageTracerAdminHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="MessageTracerAdminHttpsSoap12Endpoint" binding="tns:MessageTracerAdminSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/MessageTracerAdmin.MessageTracerAdminHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="MessageTracerAdminHttpsEndpoint" binding="tns:MessageTracerAdminHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/MessageTracerAdmin.MessageTracerAdminHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>