wsdl/PriorityMediationAdmin.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.executors.priority.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.executors.priority.carbon.wso2.org">
   <wsdl:documentation>PriorityMediationAdmin</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
         <xs:element name="getExecutorList">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getExecutorListResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getExecutor">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getExecutorResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="add">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="executor" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="remove">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="update">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="executor" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="addRequest">
      <wsdl:part name="parameters" element="ns:add"/>
   </wsdl:message>
   <wsdl:message name="getExecutorListRequest">
      <wsdl:part name="parameters" element="ns:getExecutorList"/>
   </wsdl:message>
   <wsdl:message name="getExecutorListResponse">
      <wsdl:part name="parameters" element="ns:getExecutorListResponse"/>
   </wsdl:message>
   <wsdl:message name="getExecutorRequest">
      <wsdl:part name="parameters" element="ns:getExecutor"/>
   </wsdl:message>
   <wsdl:message name="getExecutorResponse">
      <wsdl:part name="parameters" element="ns:getExecutorResponse"/>
   </wsdl:message>
   <wsdl:message name="updateRequest">
      <wsdl:part name="parameters" element="ns:update"/>
   </wsdl:message>
   <wsdl:message name="removeRequest">
      <wsdl:part name="parameters" element="ns:remove"/>
   </wsdl:message>
   <wsdl:portType name="PriorityMediationAdminPortType">
      <wsdl:operation name="add">
         <wsdl:input message="tns:addRequest" wsaw:Action="urn:add"/>
      </wsdl:operation>
      <wsdl:operation name="getExecutorList">
         <wsdl:input message="tns:getExecutorListRequest" wsaw:Action="urn:getExecutorList"/>
         <wsdl:output message="tns:getExecutorListResponse" wsaw:Action="urn:getExecutorListResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getExecutor">
         <wsdl:input message="tns:getExecutorRequest" wsaw:Action="urn:getExecutor"/>
         <wsdl:output message="tns:getExecutorResponse" wsaw:Action="urn:getExecutorResponse"/>
      </wsdl:operation>
      <wsdl:operation name="update">
         <wsdl:input message="tns:updateRequest" wsaw:Action="urn:update"/>
      </wsdl:operation>
      <wsdl:operation name="remove">
         <wsdl:input message="tns:removeRequest" wsaw:Action="urn:remove"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PriorityMediationAdminSoap11Binding" type="tns:PriorityMediationAdminPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="add">
         <soap:operation soapAction="urn:add" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getExecutorList">
         <soap:operation soapAction="urn:getExecutorList" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getExecutor">
         <soap:operation soapAction="urn:getExecutor" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="update">
         <soap:operation soapAction="urn:update" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="remove">
         <soap:operation soapAction="urn:remove" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="PriorityMediationAdminSoap12Binding" type="tns:PriorityMediationAdminPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="add">
         <soap12:operation soapAction="urn:add" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getExecutorList">
         <soap12:operation soapAction="urn:getExecutorList" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getExecutor">
         <soap12:operation soapAction="urn:getExecutor" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="update">
         <soap12:operation soapAction="urn:update" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="remove">
         <soap12:operation soapAction="urn:remove" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="PriorityMediationAdminHttpBinding" type="tns:PriorityMediationAdminPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="add">
         <http:operation location="add"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getExecutorList">
         <http:operation location="getExecutorList"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getExecutor">
         <http:operation location="getExecutor"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="update">
         <http:operation location="update"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="remove">
         <http:operation location="remove"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PriorityMediationAdmin">
      <wsdl:port name="PriorityMediationAdminHttpsSoap11Endpoint" binding="tns:PriorityMediationAdminSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/PriorityMediationAdmin.PriorityMediationAdminHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="PriorityMediationAdminHttpsSoap12Endpoint" binding="tns:PriorityMediationAdminSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/PriorityMediationAdmin.PriorityMediationAdminHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="PriorityMediationAdminHttpsEndpoint" binding="tns:PriorityMediationAdminHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/PriorityMediationAdmin.PriorityMediationAdminHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>