wsdl/ProvisioningAdminService.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://prov.services.mgt.feature.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2276="http://data.prov.services.mgt.feature.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://prov.services.mgt.feature.carbon.wso2.org">
   <wsdl:documentation>ProvisioningAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2277="http://data.prov.services.mgt.feature.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
         <xs:import namespace="http://data.prov.services.mgt.feature.carbon.wso2.org/xsd"/>
         <xs:element name="getAllInstalledFeatures">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllInstalledFeaturesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2276:Feature"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeAllServerFeatures">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeAllServerFeaturesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeAllConsoleFeatures">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeAllConsoleFeaturesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getInstalledFeaturesWithProperty">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getInstalledFeaturesWithPropertyResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2276:FeatureInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="reviewProvisioningAction">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="provActionInfo" nillable="true" type="ax2276:ProvisioningActionInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="reviewProvisioningActionResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2276:ProvisioningActionResultInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getLicensingInformation">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getLicensingInformationResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2276:LicenseInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getFeatureLicenseInfo">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getFeatureLicenseInfoResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2276:LicenseFeatureHolder"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getInstalledFeatureInfo">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="featureID" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="featureVersion" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getInstalledFeatureInfoResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2276:FeatureInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getProfileHistory">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getProfileHistoryResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2276:ProfileHistory"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="performProvisioningAction">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="actionType" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="performProvisioningActionResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.prov.services.mgt.feature.carbon.wso2.org/xsd">
         <xs:complexType name="Feature">
            <xs:sequence>
               <xs:element minOccurs="0" name="featureDescription" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="featureID" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="featureName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="featureType" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="featureVersion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="installed" type="xs:boolean"/>
               <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="required" type="xs:boolean"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="requiredFeatures" nillable="true" type="ax2276:Feature"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="FeatureInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="copyrightInfo" nillable="true" type="ax2276:CopyrightInfo"/>
               <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="featureID" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="featureName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="featureVersion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="licenseInfo" nillable="true" type="ax2276:LicenseInfo"/>
               <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="CopyrightInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="body" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="LicenseInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="body" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ProvisioningActionInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="actionType" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="featuresToInstall" nillable="true" type="ax2276:FeatureInfo"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="featuresToUninstall" nillable="true" type="ax2276:FeatureInfo"/>
               <xs:element minOccurs="0" name="timestamp" type="xs:long"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ProvisioningActionResultInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="detailedDescription" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="failedUninstallableFeatures" nillable="true" type="ax2276:FeatureInfo"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="failedinstallableFeatures" nillable="true" type="ax2276:FeatureInfo"/>
               <xs:element minOccurs="0" name="proceedWithInstallation" type="xs:boolean"/>
               <xs:element minOccurs="0" name="provActionID" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="reviewedInstallableFeatures" nillable="true" type="ax2276:FeatureInfo"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="reviewedUninstallableFeatures" nillable="true" type="ax2276:FeatureInfo"/>
               <xs:element minOccurs="0" name="size" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="summary" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="LicenseFeatureHolder">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="featureInfo" nillable="true" type="ax2276:FeatureInfo"/>
               <xs:element minOccurs="0" name="licenseInfo" nillable="true" type="ax2276:LicenseInfo"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ProfileHistory">
            <xs:sequence>
               <xs:element minOccurs="0" name="summary" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="timestamp" type="xs:long"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getInstalledFeaturesWithPropertyRequest">
      <wsdl:part name="parameters" element="ns1:getInstalledFeaturesWithProperty"/>
   </wsdl:message>
   <wsdl:message name="getInstalledFeaturesWithPropertyResponse">
      <wsdl:part name="parameters" element="ns1:getInstalledFeaturesWithPropertyResponse"/>
   </wsdl:message>
   <wsdl:message name="getFeatureLicenseInfoRequest">
      <wsdl:part name="parameters" element="ns1:getFeatureLicenseInfo"/>
   </wsdl:message>
   <wsdl:message name="getFeatureLicenseInfoResponse">
      <wsdl:part name="parameters" element="ns1:getFeatureLicenseInfoResponse"/>
   </wsdl:message>
   <wsdl:message name="removeAllConsoleFeaturesRequest">
      <wsdl:part name="parameters" element="ns1:removeAllConsoleFeatures"/>
   </wsdl:message>
   <wsdl:message name="removeAllConsoleFeaturesResponse">
      <wsdl:part name="parameters" element="ns1:removeAllConsoleFeaturesResponse"/>
   </wsdl:message>
   <wsdl:message name="performProvisioningActionRequest">
      <wsdl:part name="parameters" element="ns1:performProvisioningAction"/>
   </wsdl:message>
   <wsdl:message name="performProvisioningActionResponse">
      <wsdl:part name="parameters" element="ns1:performProvisioningActionResponse"/>
   </wsdl:message>
   <wsdl:message name="getAllInstalledFeaturesRequest">
      <wsdl:part name="parameters" element="ns1:getAllInstalledFeatures"/>
   </wsdl:message>
   <wsdl:message name="getAllInstalledFeaturesResponse">
      <wsdl:part name="parameters" element="ns1:getAllInstalledFeaturesResponse"/>
   </wsdl:message>
   <wsdl:message name="reviewProvisioningActionRequest">
      <wsdl:part name="parameters" element="ns1:reviewProvisioningAction"/>
   </wsdl:message>
   <wsdl:message name="reviewProvisioningActionResponse">
      <wsdl:part name="parameters" element="ns1:reviewProvisioningActionResponse"/>
   </wsdl:message>
   <wsdl:message name="getLicensingInformationRequest">
      <wsdl:part name="parameters" element="ns1:getLicensingInformation"/>
   </wsdl:message>
   <wsdl:message name="getLicensingInformationResponse">
      <wsdl:part name="parameters" element="ns1:getLicensingInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="getInstalledFeatureInfoRequest">
      <wsdl:part name="parameters" element="ns1:getInstalledFeatureInfo"/>
   </wsdl:message>
   <wsdl:message name="getInstalledFeatureInfoResponse">
      <wsdl:part name="parameters" element="ns1:getInstalledFeatureInfoResponse"/>
   </wsdl:message>
   <wsdl:message name="getProfileHistoryRequest">
      <wsdl:part name="parameters" element="ns1:getProfileHistory"/>
   </wsdl:message>
   <wsdl:message name="getProfileHistoryResponse">
      <wsdl:part name="parameters" element="ns1:getProfileHistoryResponse"/>
   </wsdl:message>
   <wsdl:message name="removeAllServerFeaturesRequest">
      <wsdl:part name="parameters" element="ns1:removeAllServerFeatures"/>
   </wsdl:message>
   <wsdl:message name="removeAllServerFeaturesResponse">
      <wsdl:part name="parameters" element="ns1:removeAllServerFeaturesResponse"/>
   </wsdl:message>
   <wsdl:portType name="ProvisioningAdminServicePortType">
      <wsdl:operation name="getInstalledFeaturesWithProperty">
         <wsdl:input message="tns:getInstalledFeaturesWithPropertyRequest" wsaw:Action="urn:getInstalledFeaturesWithProperty"/>
         <wsdl:output message="tns:getInstalledFeaturesWithPropertyResponse" wsaw:Action="urn:getInstalledFeaturesWithPropertyResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getFeatureLicenseInfo">
         <wsdl:input message="tns:getFeatureLicenseInfoRequest" wsaw:Action="urn:getFeatureLicenseInfo"/>
         <wsdl:output message="tns:getFeatureLicenseInfoResponse" wsaw:Action="urn:getFeatureLicenseInfoResponse"/>
      </wsdl:operation>
      <wsdl:operation name="removeAllConsoleFeatures">
         <wsdl:input message="tns:removeAllConsoleFeaturesRequest" wsaw:Action="urn:removeAllConsoleFeatures"/>
         <wsdl:output message="tns:removeAllConsoleFeaturesResponse" wsaw:Action="urn:removeAllConsoleFeaturesResponse"/>
      </wsdl:operation>
      <wsdl:operation name="performProvisioningAction">
         <wsdl:input message="tns:performProvisioningActionRequest" wsaw:Action="urn:performProvisioningAction"/>
         <wsdl:output message="tns:performProvisioningActionResponse" wsaw:Action="urn:performProvisioningActionResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getAllInstalledFeatures">
         <wsdl:input message="tns:getAllInstalledFeaturesRequest" wsaw:Action="urn:getAllInstalledFeatures"/>
         <wsdl:output message="tns:getAllInstalledFeaturesResponse" wsaw:Action="urn:getAllInstalledFeaturesResponse"/>
      </wsdl:operation>
      <wsdl:operation name="reviewProvisioningAction">
         <wsdl:input message="tns:reviewProvisioningActionRequest" wsaw:Action="urn:reviewProvisioningAction"/>
         <wsdl:output message="tns:reviewProvisioningActionResponse" wsaw:Action="urn:reviewProvisioningActionResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getLicensingInformation">
         <wsdl:input message="tns:getLicensingInformationRequest" wsaw:Action="urn:getLicensingInformation"/>
         <wsdl:output message="tns:getLicensingInformationResponse" wsaw:Action="urn:getLicensingInformationResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getInstalledFeatureInfo">
         <wsdl:input message="tns:getInstalledFeatureInfoRequest" wsaw:Action="urn:getInstalledFeatureInfo"/>
         <wsdl:output message="tns:getInstalledFeatureInfoResponse" wsaw:Action="urn:getInstalledFeatureInfoResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getProfileHistory">
         <wsdl:input message="tns:getProfileHistoryRequest" wsaw:Action="urn:getProfileHistory"/>
         <wsdl:output message="tns:getProfileHistoryResponse" wsaw:Action="urn:getProfileHistoryResponse"/>
      </wsdl:operation>
      <wsdl:operation name="removeAllServerFeatures">
         <wsdl:input message="tns:removeAllServerFeaturesRequest" wsaw:Action="urn:removeAllServerFeatures"/>
         <wsdl:output message="tns:removeAllServerFeaturesResponse" wsaw:Action="urn:removeAllServerFeaturesResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ProvisioningAdminServiceSoap11Binding" type="tns:ProvisioningAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getInstalledFeaturesWithProperty">
         <soap:operation soapAction="urn:getInstalledFeaturesWithProperty" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getFeatureLicenseInfo">
         <soap:operation soapAction="urn:getFeatureLicenseInfo" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeAllConsoleFeatures">
         <soap:operation soapAction="urn:removeAllConsoleFeatures" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="performProvisioningAction">
         <soap:operation soapAction="urn:performProvisioningAction" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAllInstalledFeatures">
         <soap:operation soapAction="urn:getAllInstalledFeatures" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="reviewProvisioningAction">
         <soap:operation soapAction="urn:reviewProvisioningAction" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getLicensingInformation">
         <soap:operation soapAction="urn:getLicensingInformation" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getInstalledFeatureInfo">
         <soap:operation soapAction="urn:getInstalledFeatureInfo" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getProfileHistory">
         <soap:operation soapAction="urn:getProfileHistory" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeAllServerFeatures">
         <soap:operation soapAction="urn:removeAllServerFeatures" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="ProvisioningAdminServiceSoap12Binding" type="tns:ProvisioningAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getInstalledFeaturesWithProperty">
         <soap12:operation soapAction="urn:getInstalledFeaturesWithProperty" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getFeatureLicenseInfo">
         <soap12:operation soapAction="urn:getFeatureLicenseInfo" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeAllConsoleFeatures">
         <soap12:operation soapAction="urn:removeAllConsoleFeatures" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="performProvisioningAction">
         <soap12:operation soapAction="urn:performProvisioningAction" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAllInstalledFeatures">
         <soap12:operation soapAction="urn:getAllInstalledFeatures" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="reviewProvisioningAction">
         <soap12:operation soapAction="urn:reviewProvisioningAction" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getLicensingInformation">
         <soap12:operation soapAction="urn:getLicensingInformation" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getInstalledFeatureInfo">
         <soap12:operation soapAction="urn:getInstalledFeatureInfo" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getProfileHistory">
         <soap12:operation soapAction="urn:getProfileHistory" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeAllServerFeatures">
         <soap12:operation soapAction="urn:removeAllServerFeatures" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="ProvisioningAdminServiceHttpBinding" type="tns:ProvisioningAdminServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getInstalledFeaturesWithProperty">
         <http:operation location="getInstalledFeaturesWithProperty"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getFeatureLicenseInfo">
         <http:operation location="getFeatureLicenseInfo"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeAllConsoleFeatures">
         <http:operation location="removeAllConsoleFeatures"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="performProvisioningAction">
         <http:operation location="performProvisioningAction"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAllInstalledFeatures">
         <http:operation location="getAllInstalledFeatures"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="reviewProvisioningAction">
         <http:operation location="reviewProvisioningAction"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getLicensingInformation">
         <http:operation location="getLicensingInformation"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getInstalledFeatureInfo">
         <http:operation location="getInstalledFeatureInfo"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getProfileHistory">
         <http:operation location="getProfileHistory"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeAllServerFeatures">
         <http:operation location="removeAllServerFeatures"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ProvisioningAdminService">
      <wsdl:port name="ProvisioningAdminServiceHttpsSoap11Endpoint" binding="tns:ProvisioningAdminServiceSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/ProvisioningAdminService.ProvisioningAdminServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="ProvisioningAdminServiceHttpsSoap12Endpoint" binding="tns:ProvisioningAdminServiceSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/ProvisioningAdminService.ProvisioningAdminServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="ProvisioningAdminServiceHttpsEndpoint" binding="tns:ProvisioningAdminServiceHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/ProvisioningAdminService.ProvisioningAdminServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>