wsdl/RelationAdminService.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2763="http://beans.relations.registry.carbon.wso2.org/xsd" xmlns:ns="http://services.relations.registry.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2759="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2760="http://api.registry.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.relations.registry.carbon.wso2.org">
   <wsdl:documentation>RelationAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax2762="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2764="http://beans.relations.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.relations.registry.carbon.wso2.org">
         <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"/>
         <xs:import namespace="http://beans.relations.registry.carbon.wso2.org/xsd"/>
         <xs:element name="RelationAdminServiceRegistryException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2762:RegistryException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAssociationTree">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAssociationTreeResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2763:AssociationTreeBean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addAssociation">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="associationPaths" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="todo" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDependencies">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDependenciesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2763:DependenciesBean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema xmlns:ax2761="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
         <xs:import namespace="http://api.registry.carbon.wso2.org/xsd"/>
         <xs:complexType name="RegistryException">
            <xs:complexContent>
               <xs:extension base="ax2760:RegistryException">
                  <xs:sequence/>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.relations.registry.carbon.wso2.org/xsd">
         <xs:complexType name="AssociationTreeBean">
            <xs:sequence>
               <xs:element minOccurs="0" name="assoIndex" type="xs:int"/>
               <xs:element minOccurs="0" name="assoType" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="associationTree" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="resourcePath" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="treeCache" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="DependenciesBean">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="associationBeans" nillable="true" type="ax2763:AssociationBean"/>
               <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="loggedIn" type="xs:boolean"/>
               <xs:element minOccurs="0" name="pathWithVersion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="putAllowed" type="xs:boolean"/>
               <xs:element minOccurs="0" name="versionView" type="xs:boolean"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="AssociationBean">
            <xs:sequence>
               <xs:element minOccurs="0" name="associationType" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="destinationPath" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="sourcePath" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
         <xs:complexType name="RegistryException">
            <xs:sequence/>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getDependenciesRequest">
      <wsdl:part name="parameters" element="ns:getDependencies"/>
   </wsdl:message>
   <wsdl:message name="getDependenciesResponse">
      <wsdl:part name="parameters" element="ns:getDependenciesResponse"/>
   </wsdl:message>
   <wsdl:message name="RelationAdminServiceRegistryException">
      <wsdl:part name="parameters" element="ns:RelationAdminServiceRegistryException"/>
   </wsdl:message>
   <wsdl:message name="getAssociationTreeRequest">
      <wsdl:part name="parameters" element="ns:getAssociationTree"/>
   </wsdl:message>
   <wsdl:message name="getAssociationTreeResponse">
      <wsdl:part name="parameters" element="ns:getAssociationTreeResponse"/>
   </wsdl:message>
   <wsdl:message name="addAssociationRequest">
      <wsdl:part name="parameters" element="ns:addAssociation"/>
   </wsdl:message>
   <wsdl:portType name="RelationAdminServicePortType">
      <wsdl:operation name="getDependencies">
         <wsdl:input message="ns:getDependenciesRequest" wsaw:Action="urn:getDependencies"/>
         <wsdl:output message="ns:getDependenciesResponse" wsaw:Action="urn:getDependenciesResponse"/>
         <wsdl:fault message="ns:RelationAdminServiceRegistryException" name="RelationAdminServiceRegistryException" wsaw:Action="urn:getDependenciesRelationAdminServiceRegistryException"/>
      </wsdl:operation>
      <wsdl:operation name="getAssociationTree">
         <wsdl:input message="ns:getAssociationTreeRequest" wsaw:Action="urn:getAssociationTree"/>
         <wsdl:output message="ns:getAssociationTreeResponse" wsaw:Action="urn:getAssociationTreeResponse"/>
         <wsdl:fault message="ns:RelationAdminServiceRegistryException" name="RelationAdminServiceRegistryException" wsaw:Action="urn:getAssociationTreeRelationAdminServiceRegistryException"/>
      </wsdl:operation>
      <wsdl:operation name="addAssociation">
         <wsdl:input message="ns:addAssociationRequest" wsaw:Action="urn:addAssociation"/>
         <wsdl:fault message="ns:RelationAdminServiceRegistryException" name="RelationAdminServiceRegistryException" wsaw:Action="urn:addAssociationRelationAdminServiceRegistryException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="RelationAdminServiceSoap11Binding" type="ns:RelationAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getDependencies">
         <soap:operation soapAction="urn:getDependencies" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RelationAdminServiceRegistryException">
            <soap:fault use="literal" name="RelationAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAssociationTree">
         <soap:operation soapAction="urn:getAssociationTree" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RelationAdminServiceRegistryException">
            <soap:fault use="literal" name="RelationAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addAssociation">
         <soap:operation soapAction="urn:addAssociation" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RelationAdminServiceRegistryException">
            <soap:fault use="literal" name="RelationAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="RelationAdminServiceSoap12Binding" type="ns:RelationAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getDependencies">
         <soap12:operation soapAction="urn:getDependencies" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RelationAdminServiceRegistryException">
            <soap12:fault use="literal" name="RelationAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAssociationTree">
         <soap12:operation soapAction="urn:getAssociationTree" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RelationAdminServiceRegistryException">
            <soap12:fault use="literal" name="RelationAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addAssociation">
         <soap12:operation soapAction="urn:addAssociation" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RelationAdminServiceRegistryException">
            <soap12:fault use="literal" name="RelationAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="RelationAdminServiceHttpBinding" type="ns:RelationAdminServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getDependencies">
         <http:operation location="getDependencies"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAssociationTree">
         <http:operation location="getAssociationTree"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addAssociation">
         <http:operation location="addAssociation"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="RelationAdminService">
      <wsdl:port name="RelationAdminServiceHttpsSoap11Endpoint" binding="ns:RelationAdminServiceSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/RelationAdminService.RelationAdminServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="RelationAdminServiceHttpsSoap12Endpoint" binding="ns:RelationAdminServiceSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/RelationAdminService.RelationAdminServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="RelationAdminServiceHttpsEndpoint" binding="ns:RelationAdminServiceHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/RelationAdminService.RelationAdminServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>