wsdl/RemoteTaskAdmin.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://admin.core.medntask.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://admin.ntask.mediation.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://admin.ntask.mediation.carbon.wso2.org">
   <wsdl:documentation>RemoteTaskAdmin</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.core.medntask.carbon.wso2.org">
         <xs:element name="RemoteTaskAdminException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="RemoteTaskAdminException" nillable="true" type="ns:Exception"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="getRemoteTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllRemoteTasks">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllRemoteTasksResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addRemoteSystemTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="targetTenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="rescheduleRemoteSystemTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="targetTenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getRemoteSystemTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="targetTenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteRemoteSystemTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="targetTenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteRemoteSystemTaskResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="pauseRemoteSystemTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="targetTenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="resumeRemoteSystemTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="targetTenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllRemoteSystemTasks">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="targetTenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllRemoteSystemTasksResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addRemoteTask">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteRemoteTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteRemoteTaskResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="pauseRemoteTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="resumeRemoteTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="rescheduleRemoteTask">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getAllRemoteTasksRequest">
      <wsdl:part name="parameters" element="ns:getAllRemoteTasks"/>
   </wsdl:message>
   <wsdl:message name="getAllRemoteTasksResponse">
      <wsdl:part name="parameters" element="ns:getAllRemoteTasksResponse"/>
   </wsdl:message>
   <wsdl:message name="RemoteTaskAdminException">
      <wsdl:part name="parameters" element="ns:RemoteTaskAdminException"/>
   </wsdl:message>
   <wsdl:message name="getRemoteSystemTaskRequest">
      <wsdl:part name="parameters" element="ns:getRemoteSystemTask"/>
   </wsdl:message>
   <wsdl:message name="rescheduleRemoteSystemTaskRequest">
      <wsdl:part name="parameters" element="ns:rescheduleRemoteSystemTask"/>
   </wsdl:message>
   <wsdl:message name="addRemoteTaskRequest">
      <wsdl:part name="parameters" element="ns:addRemoteTask"/>
   </wsdl:message>
   <wsdl:message name="getRemoteTaskRequest">
      <wsdl:part name="parameters" element="ns:getRemoteTask"/>
   </wsdl:message>
   <wsdl:message name="addRemoteSystemTaskRequest">
      <wsdl:part name="parameters" element="ns:addRemoteSystemTask"/>
   </wsdl:message>
   <wsdl:message name="resumeRemoteTaskRequest">
      <wsdl:part name="parameters" element="ns:resumeRemoteTask"/>
   </wsdl:message>
   <wsdl:message name="pauseRemoteTaskRequest">
      <wsdl:part name="parameters" element="ns:pauseRemoteTask"/>
   </wsdl:message>
   <wsdl:message name="resumeRemoteSystemTaskRequest">
      <wsdl:part name="parameters" element="ns:resumeRemoteSystemTask"/>
   </wsdl:message>
   <wsdl:message name="deleteRemoteSystemTaskRequest">
      <wsdl:part name="parameters" element="ns:deleteRemoteSystemTask"/>
   </wsdl:message>
   <wsdl:message name="deleteRemoteSystemTaskResponse">
      <wsdl:part name="parameters" element="ns:deleteRemoteSystemTaskResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteRemoteTaskRequest">
      <wsdl:part name="parameters" element="ns:deleteRemoteTask"/>
   </wsdl:message>
   <wsdl:message name="deleteRemoteTaskResponse">
      <wsdl:part name="parameters" element="ns:deleteRemoteTaskResponse"/>
   </wsdl:message>
   <wsdl:message name="pauseRemoteSystemTaskRequest">
      <wsdl:part name="parameters" element="ns:pauseRemoteSystemTask"/>
   </wsdl:message>
   <wsdl:message name="getAllRemoteSystemTasksRequest">
      <wsdl:part name="parameters" element="ns:getAllRemoteSystemTasks"/>
   </wsdl:message>
   <wsdl:message name="getAllRemoteSystemTasksResponse">
      <wsdl:part name="parameters" element="ns:getAllRemoteSystemTasksResponse"/>
   </wsdl:message>
   <wsdl:message name="rescheduleRemoteTaskRequest">
      <wsdl:part name="parameters" element="ns:rescheduleRemoteTask"/>
   </wsdl:message>
   <wsdl:portType name="RemoteTaskAdminPortType">
      <wsdl:operation name="getAllRemoteTasks">
         <wsdl:input message="tns:getAllRemoteTasksRequest" wsaw:Action="urn:getAllRemoteTasks"/>
         <wsdl:output message="tns:getAllRemoteTasksResponse" wsaw:Action="urn:getAllRemoteTasksResponse"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:getAllRemoteTasksRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="getRemoteSystemTask">
         <wsdl:input message="tns:getRemoteSystemTaskRequest" wsaw:Action="urn:getRemoteSystemTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:getRemoteSystemTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="rescheduleRemoteSystemTask">
         <wsdl:input message="tns:rescheduleRemoteSystemTaskRequest" wsaw:Action="urn:rescheduleRemoteSystemTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:rescheduleRemoteSystemTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="addRemoteTask">
         <wsdl:input message="tns:addRemoteTaskRequest" wsaw:Action="urn:addRemoteTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:addRemoteTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="getRemoteTask">
         <wsdl:input message="tns:getRemoteTaskRequest" wsaw:Action="urn:getRemoteTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:getRemoteTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="addRemoteSystemTask">
         <wsdl:input message="tns:addRemoteSystemTaskRequest" wsaw:Action="urn:addRemoteSystemTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:addRemoteSystemTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="resumeRemoteTask">
         <wsdl:input message="tns:resumeRemoteTaskRequest" wsaw:Action="urn:resumeRemoteTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:resumeRemoteTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="pauseRemoteTask">
         <wsdl:input message="tns:pauseRemoteTaskRequest" wsaw:Action="urn:pauseRemoteTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:pauseRemoteTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="resumeRemoteSystemTask">
         <wsdl:input message="tns:resumeRemoteSystemTaskRequest" wsaw:Action="urn:resumeRemoteSystemTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:resumeRemoteSystemTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteRemoteSystemTask">
         <wsdl:input message="tns:deleteRemoteSystemTaskRequest" wsaw:Action="urn:deleteRemoteSystemTask"/>
         <wsdl:output message="tns:deleteRemoteSystemTaskResponse" wsaw:Action="urn:deleteRemoteSystemTaskResponse"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:deleteRemoteSystemTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteRemoteTask">
         <wsdl:input message="tns:deleteRemoteTaskRequest" wsaw:Action="urn:deleteRemoteTask"/>
         <wsdl:output message="tns:deleteRemoteTaskResponse" wsaw:Action="urn:deleteRemoteTaskResponse"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:deleteRemoteTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="pauseRemoteSystemTask">
         <wsdl:input message="tns:pauseRemoteSystemTaskRequest" wsaw:Action="urn:pauseRemoteSystemTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:pauseRemoteSystemTaskRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="getAllRemoteSystemTasks">
         <wsdl:input message="tns:getAllRemoteSystemTasksRequest" wsaw:Action="urn:getAllRemoteSystemTasks"/>
         <wsdl:output message="tns:getAllRemoteSystemTasksResponse" wsaw:Action="urn:getAllRemoteSystemTasksResponse"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:getAllRemoteSystemTasksRemoteTaskAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="rescheduleRemoteTask">
         <wsdl:input message="tns:rescheduleRemoteTaskRequest" wsaw:Action="urn:rescheduleRemoteTask"/>
         <wsdl:fault message="tns:RemoteTaskAdminException" name="RemoteTaskAdminException" wsaw:Action="urn:rescheduleRemoteTaskRemoteTaskAdminException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="RemoteTaskAdminSoap11Binding" type="tns:RemoteTaskAdminPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getAllRemoteTasks">
         <soap:operation soapAction="urn:getAllRemoteTasks" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRemoteSystemTask">
         <soap:operation soapAction="urn:getRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="rescheduleRemoteSystemTask">
         <soap:operation soapAction="urn:rescheduleRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addRemoteTask">
         <soap:operation soapAction="urn:addRemoteTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRemoteTask">
         <soap:operation soapAction="urn:getRemoteTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addRemoteSystemTask">
         <soap:operation soapAction="urn:addRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="resumeRemoteTask">
         <soap:operation soapAction="urn:resumeRemoteTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="pauseRemoteTask">
         <soap:operation soapAction="urn:pauseRemoteTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="resumeRemoteSystemTask">
         <soap:operation soapAction="urn:resumeRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteRemoteSystemTask">
         <soap:operation soapAction="urn:deleteRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteRemoteTask">
         <soap:operation soapAction="urn:deleteRemoteTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="pauseRemoteSystemTask">
         <soap:operation soapAction="urn:pauseRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAllRemoteSystemTasks">
         <soap:operation soapAction="urn:getAllRemoteSystemTasks" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="rescheduleRemoteTask">
         <soap:operation soapAction="urn:rescheduleRemoteTask" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="RemoteTaskAdminSoap12Binding" type="tns:RemoteTaskAdminPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getAllRemoteTasks">
         <soap12:operation soapAction="urn:getAllRemoteTasks" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRemoteSystemTask">
         <soap12:operation soapAction="urn:getRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="rescheduleRemoteSystemTask">
         <soap12:operation soapAction="urn:rescheduleRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addRemoteTask">
         <soap12:operation soapAction="urn:addRemoteTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRemoteTask">
         <soap12:operation soapAction="urn:getRemoteTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addRemoteSystemTask">
         <soap12:operation soapAction="urn:addRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="resumeRemoteTask">
         <soap12:operation soapAction="urn:resumeRemoteTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="pauseRemoteTask">
         <soap12:operation soapAction="urn:pauseRemoteTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="resumeRemoteSystemTask">
         <soap12:operation soapAction="urn:resumeRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteRemoteSystemTask">
         <soap12:operation soapAction="urn:deleteRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteRemoteTask">
         <soap12:operation soapAction="urn:deleteRemoteTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="pauseRemoteSystemTask">
         <soap12:operation soapAction="urn:pauseRemoteSystemTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAllRemoteSystemTasks">
         <soap12:operation soapAction="urn:getAllRemoteSystemTasks" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="rescheduleRemoteTask">
         <soap12:operation soapAction="urn:rescheduleRemoteTask" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RemoteTaskAdminException">
            <soap12:fault use="literal" name="RemoteTaskAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="RemoteTaskAdminHttpBinding" type="tns:RemoteTaskAdminPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getAllRemoteTasks">
         <http:operation location="getAllRemoteTasks"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getRemoteSystemTask">
         <http:operation location="getRemoteSystemTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="rescheduleRemoteSystemTask">
         <http:operation location="rescheduleRemoteSystemTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="addRemoteTask">
         <http:operation location="addRemoteTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getRemoteTask">
         <http:operation location="getRemoteTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="addRemoteSystemTask">
         <http:operation location="addRemoteSystemTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="resumeRemoteTask">
         <http:operation location="resumeRemoteTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="pauseRemoteTask">
         <http:operation location="pauseRemoteTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="resumeRemoteSystemTask">
         <http:operation location="resumeRemoteSystemTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="deleteRemoteSystemTask">
         <http:operation location="deleteRemoteSystemTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteRemoteTask">
         <http:operation location="deleteRemoteTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="pauseRemoteSystemTask">
         <http:operation location="pauseRemoteSystemTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getAllRemoteSystemTasks">
         <http:operation location="getAllRemoteSystemTasks"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="rescheduleRemoteTask">
         <http:operation location="rescheduleRemoteTask"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="RemoteTaskAdmin">
      <wsdl:port name="RemoteTaskAdminHttpsSoap11Endpoint" binding="tns:RemoteTaskAdminSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/RemoteTaskAdmin.RemoteTaskAdminHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="RemoteTaskAdminHttpsSoap12Endpoint" binding="tns:RemoteTaskAdminSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/RemoteTaskAdmin.RemoteTaskAdminHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="RemoteTaskAdminHttpsEndpoint" binding="tns:RemoteTaskAdminHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/RemoteTaskAdmin.RemoteTaskAdminHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>