wsdl/SequenceAdminService.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2810="http://common.sequences.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2812="http://to.common.sequences.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.sequences.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.sequences.carbon.wso2.org">
   <wsdl:documentation>SequenceAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://to.common.sequences.carbon.wso2.org/xsd">
         <xs:complexType name="SequenceInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="artifactContainerName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="enableStatistics" type="xs:boolean"/>
               <xs:element minOccurs="0" name="enableTracing" type="xs:boolean"/>
               <xs:element minOccurs="0" name="isEdited" type="xs:boolean"/>
               <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ConfigurationObject">
            <xs:sequence>
               <xs:element minOccurs="0" name="resourceId" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="type" type="xs:int"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.sequences.carbon.wso2.org/xsd">
         <xs:complexType name="SequenceEditorException">
            <xs:sequence/>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax2811="http://common.sequences.carbon.wso2.org/xsd" xmlns:ax2813="http://to.common.sequences.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
         <xs:import namespace="http://common.sequences.carbon.wso2.org/xsd"/>
         <xs:import namespace="http://to.common.sequences.carbon.wso2.org/xsd"/>
         <xs:element name="SequenceAdminServiceSequenceEditorException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="SequenceEditorException" nillable="true" type="ax2810:SequenceEditorException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="enableTracing">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="enableTracingResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addSequenceForTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceElement" nillable="true" type="xs:anyType"/>
                  <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteSequenceForTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequenceForTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequenceForTenantResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isExistingSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isExistingSequenceResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isExistingSequenceForTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isExistingSequenceForTenantResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequences">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                  <xs:element minOccurs="0" name="sequencePerPage" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequencesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2812:SequenceInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="disableTracing">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="disableTracingResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getEntryNamesString">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getEntryNamesStringResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequencesCount">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequencesCountResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDynamicSequences">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                  <xs:element minOccurs="0" name="sequencePerPage" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDynamicSequencesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2812:SequenceInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDynamicSequenceCount">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDynamicSequenceCountResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteSelectedSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="sequenceNames" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteAllSequence">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="saveSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceElement" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="updateDynamicSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="omElement" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteDynamicSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addDynamicSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="sequence" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDynamicSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDynamicSequenceResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="saveDynamicSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="sequence" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequencesSearch">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequencesSearchResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2812:SequenceInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="disableStatistics">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="disableStatisticsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="enableStatistics">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="enableStatisticsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceElement" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequence">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSequenceResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDependents">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="sequence" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getDependentsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2812:ConfigurationObject"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="saveDynamicSequenceRequest">
      <wsdl:part name="parameters" element="ns:saveDynamicSequence"/>
   </wsdl:message>
   <wsdl:message name="SequenceAdminServiceSequenceEditorException">
      <wsdl:part name="parameters" element="ns:SequenceAdminServiceSequenceEditorException"/>
   </wsdl:message>
   <wsdl:message name="getEntryNamesStringRequest">
      <wsdl:part name="parameters" element="ns:getEntryNamesString"/>
   </wsdl:message>
   <wsdl:message name="getEntryNamesStringResponse">
      <wsdl:part name="parameters" element="ns:getEntryNamesStringResponse"/>
   </wsdl:message>
   <wsdl:message name="saveSequenceRequest">
      <wsdl:part name="parameters" element="ns:saveSequence"/>
   </wsdl:message>
   <wsdl:message name="getSequencesCountRequest">
      <wsdl:part name="parameters" element="ns:getSequencesCount"/>
   </wsdl:message>
   <wsdl:message name="getSequencesCountResponse">
      <wsdl:part name="parameters" element="ns:getSequencesCountResponse"/>
   </wsdl:message>
   <wsdl:message name="getDynamicSequenceCountRequest">
      <wsdl:part name="parameters" element="ns:getDynamicSequenceCount"/>
   </wsdl:message>
   <wsdl:message name="getDynamicSequenceCountResponse">
      <wsdl:part name="parameters" element="ns:getDynamicSequenceCountResponse"/>
   </wsdl:message>
   <wsdl:message name="getSequencesRequest">
      <wsdl:part name="parameters" element="ns:getSequences"/>
   </wsdl:message>
   <wsdl:message name="getSequencesResponse">
      <wsdl:part name="parameters" element="ns:getSequencesResponse"/>
   </wsdl:message>
   <wsdl:message name="addSequenceRequest">
      <wsdl:part name="parameters" element="ns:addSequence"/>
   </wsdl:message>
   <wsdl:message name="updateDynamicSequenceRequest">
      <wsdl:part name="parameters" element="ns:updateDynamicSequence"/>
   </wsdl:message>
   <wsdl:message name="deleteSequenceRequest">
      <wsdl:part name="parameters" element="ns:deleteSequence"/>
   </wsdl:message>
   <wsdl:message name="isExistingSequenceForTenantRequest">
      <wsdl:part name="parameters" element="ns:isExistingSequenceForTenant"/>
   </wsdl:message>
   <wsdl:message name="isExistingSequenceForTenantResponse">
      <wsdl:part name="parameters" element="ns:isExistingSequenceForTenantResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteSequenceForTenantRequest">
      <wsdl:part name="parameters" element="ns:deleteSequenceForTenant"/>
   </wsdl:message>
   <wsdl:message name="deleteSelectedSequenceRequest">
      <wsdl:part name="parameters" element="ns:deleteSelectedSequence"/>
   </wsdl:message>
   <wsdl:message name="getDynamicSequenceRequest">
      <wsdl:part name="parameters" element="ns:getDynamicSequence"/>
   </wsdl:message>
   <wsdl:message name="getDynamicSequenceResponse">
      <wsdl:part name="parameters" element="ns:getDynamicSequenceResponse"/>
   </wsdl:message>
   <wsdl:message name="enableTracingRequest">
      <wsdl:part name="parameters" element="ns:enableTracing"/>
   </wsdl:message>
   <wsdl:message name="enableTracingResponse">
      <wsdl:part name="parameters" element="ns:enableTracingResponse"/>
   </wsdl:message>
   <wsdl:message name="getDependentsRequest">
      <wsdl:part name="parameters" element="ns:getDependents"/>
   </wsdl:message>
   <wsdl:message name="getDependentsResponse">
      <wsdl:part name="parameters" element="ns:getDependentsResponse"/>
   </wsdl:message>
   <wsdl:message name="enableStatisticsRequest">
      <wsdl:part name="parameters" element="ns:enableStatistics"/>
   </wsdl:message>
   <wsdl:message name="enableStatisticsResponse">
      <wsdl:part name="parameters" element="ns:enableStatisticsResponse"/>
   </wsdl:message>
   <wsdl:message name="isExistingSequenceRequest">
      <wsdl:part name="parameters" element="ns:isExistingSequence"/>
   </wsdl:message>
   <wsdl:message name="isExistingSequenceResponse">
      <wsdl:part name="parameters" element="ns:isExistingSequenceResponse"/>
   </wsdl:message>
   <wsdl:message name="disableStatisticsRequest">
      <wsdl:part name="parameters" element="ns:disableStatistics"/>
   </wsdl:message>
   <wsdl:message name="disableStatisticsResponse">
      <wsdl:part name="parameters" element="ns:disableStatisticsResponse"/>
   </wsdl:message>
   <wsdl:message name="addDynamicSequenceRequest">
      <wsdl:part name="parameters" element="ns:addDynamicSequence"/>
   </wsdl:message>
   <wsdl:message name="getDynamicSequencesRequest">
      <wsdl:part name="parameters" element="ns:getDynamicSequences"/>
   </wsdl:message>
   <wsdl:message name="getDynamicSequencesResponse">
      <wsdl:part name="parameters" element="ns:getDynamicSequencesResponse"/>
   </wsdl:message>
   <wsdl:message name="addSequenceForTenantRequest">
      <wsdl:part name="parameters" element="ns:addSequenceForTenant"/>
   </wsdl:message>
   <wsdl:message name="getSequenceForTenantRequest">
      <wsdl:part name="parameters" element="ns:getSequenceForTenant"/>
   </wsdl:message>
   <wsdl:message name="getSequenceForTenantResponse">
      <wsdl:part name="parameters" element="ns:getSequenceForTenantResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteAllSequenceRequest">
      <wsdl:part name="parameters" element="ns:deleteAllSequence"/>
   </wsdl:message>
   <wsdl:message name="getSequencesSearchRequest">
      <wsdl:part name="parameters" element="ns:getSequencesSearch"/>
   </wsdl:message>
   <wsdl:message name="getSequencesSearchResponse">
      <wsdl:part name="parameters" element="ns:getSequencesSearchResponse"/>
   </wsdl:message>
   <wsdl:message name="disableTracingRequest">
      <wsdl:part name="parameters" element="ns:disableTracing"/>
   </wsdl:message>
   <wsdl:message name="disableTracingResponse">
      <wsdl:part name="parameters" element="ns:disableTracingResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteDynamicSequenceRequest">
      <wsdl:part name="parameters" element="ns:deleteDynamicSequence"/>
   </wsdl:message>
   <wsdl:message name="getSequenceRequest">
      <wsdl:part name="parameters" element="ns:getSequence"/>
   </wsdl:message>
   <wsdl:message name="getSequenceResponse">
      <wsdl:part name="parameters" element="ns:getSequenceResponse"/>
   </wsdl:message>
   <wsdl:portType name="SequenceAdminServicePortType">
      <wsdl:operation name="saveDynamicSequence">
         <wsdl:input message="tns:saveDynamicSequenceRequest" wsaw:Action="urn:saveDynamicSequence"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:saveDynamicSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getEntryNamesString">
         <wsdl:input message="tns:getEntryNamesStringRequest" wsaw:Action="urn:getEntryNamesString"/>
         <wsdl:output message="tns:getEntryNamesStringResponse" wsaw:Action="urn:getEntryNamesStringResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:getEntryNamesStringSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="saveSequence">
         <wsdl:input message="tns:saveSequenceRequest" wsaw:Action="urn:saveSequence"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:saveSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getSequencesCount">
         <wsdl:input message="tns:getSequencesCountRequest" wsaw:Action="urn:getSequencesCount"/>
         <wsdl:output message="tns:getSequencesCountResponse" wsaw:Action="urn:getSequencesCountResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:getSequencesCountSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequenceCount">
         <wsdl:input message="tns:getDynamicSequenceCountRequest" wsaw:Action="urn:getDynamicSequenceCount"/>
         <wsdl:output message="tns:getDynamicSequenceCountResponse" wsaw:Action="urn:getDynamicSequenceCountResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:getDynamicSequenceCountSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getSequences">
         <wsdl:input message="tns:getSequencesRequest" wsaw:Action="urn:getSequences"/>
         <wsdl:output message="tns:getSequencesResponse" wsaw:Action="urn:getSequencesResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:getSequencesSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="addSequence">
         <wsdl:input message="tns:addSequenceRequest" wsaw:Action="urn:addSequence"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:addSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="updateDynamicSequence">
         <wsdl:input message="tns:updateDynamicSequenceRequest" wsaw:Action="urn:updateDynamicSequence"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:updateDynamicSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteSequence">
         <wsdl:input message="tns:deleteSequenceRequest" wsaw:Action="urn:deleteSequence"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:deleteSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="isExistingSequenceForTenant">
         <wsdl:input message="tns:isExistingSequenceForTenantRequest" wsaw:Action="urn:isExistingSequenceForTenant"/>
         <wsdl:output message="tns:isExistingSequenceForTenantResponse" wsaw:Action="urn:isExistingSequenceForTenantResponse"/>
      </wsdl:operation>
      <wsdl:operation name="deleteSequenceForTenant">
         <wsdl:input message="tns:deleteSequenceForTenantRequest" wsaw:Action="urn:deleteSequenceForTenant"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:deleteSequenceForTenantSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteSelectedSequence">
         <wsdl:input message="tns:deleteSelectedSequenceRequest" wsaw:Action="urn:deleteSelectedSequence"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:deleteSelectedSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequence">
         <wsdl:input message="tns:getDynamicSequenceRequest" wsaw:Action="urn:getDynamicSequence"/>
         <wsdl:output message="tns:getDynamicSequenceResponse" wsaw:Action="urn:getDynamicSequenceResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:getDynamicSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="enableTracing">
         <wsdl:input message="tns:enableTracingRequest" wsaw:Action="urn:enableTracing"/>
         <wsdl:output message="tns:enableTracingResponse" wsaw:Action="urn:enableTracingResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:enableTracingSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getDependents">
         <wsdl:input message="tns:getDependentsRequest" wsaw:Action="urn:getDependents"/>
         <wsdl:output message="tns:getDependentsResponse" wsaw:Action="urn:getDependentsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="enableStatistics">
         <wsdl:input message="tns:enableStatisticsRequest" wsaw:Action="urn:enableStatistics"/>
         <wsdl:output message="tns:enableStatisticsResponse" wsaw:Action="urn:enableStatisticsResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:enableStatisticsSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="isExistingSequence">
         <wsdl:input message="tns:isExistingSequenceRequest" wsaw:Action="urn:isExistingSequence"/>
         <wsdl:output message="tns:isExistingSequenceResponse" wsaw:Action="urn:isExistingSequenceResponse"/>
      </wsdl:operation>
      <wsdl:operation name="disableStatistics">
         <wsdl:input message="tns:disableStatisticsRequest" wsaw:Action="urn:disableStatistics"/>
         <wsdl:output message="tns:disableStatisticsResponse" wsaw:Action="urn:disableStatisticsResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:disableStatisticsSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="addDynamicSequence">
         <wsdl:input message="tns:addDynamicSequenceRequest" wsaw:Action="urn:addDynamicSequence"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:addDynamicSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequences">
         <wsdl:input message="tns:getDynamicSequencesRequest" wsaw:Action="urn:getDynamicSequences"/>
         <wsdl:output message="tns:getDynamicSequencesResponse" wsaw:Action="urn:getDynamicSequencesResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:getDynamicSequencesSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="addSequenceForTenant">
         <wsdl:input message="tns:addSequenceForTenantRequest" wsaw:Action="urn:addSequenceForTenant"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:addSequenceForTenantSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getSequenceForTenant">
         <wsdl:input message="tns:getSequenceForTenantRequest" wsaw:Action="urn:getSequenceForTenant"/>
         <wsdl:output message="tns:getSequenceForTenantResponse" wsaw:Action="urn:getSequenceForTenantResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:getSequenceForTenantSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteAllSequence">
         <wsdl:input message="tns:deleteAllSequenceRequest" wsaw:Action="urn:deleteAllSequence"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:deleteAllSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getSequencesSearch">
         <wsdl:input message="tns:getSequencesSearchRequest" wsaw:Action="urn:getSequencesSearch"/>
         <wsdl:output message="tns:getSequencesSearchResponse" wsaw:Action="urn:getSequencesSearchResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:getSequencesSearchSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="disableTracing">
         <wsdl:input message="tns:disableTracingRequest" wsaw:Action="urn:disableTracing"/>
         <wsdl:output message="tns:disableTracingResponse" wsaw:Action="urn:disableTracingResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:disableTracingSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteDynamicSequence">
         <wsdl:input message="tns:deleteDynamicSequenceRequest" wsaw:Action="urn:deleteDynamicSequence"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:deleteDynamicSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
      <wsdl:operation name="getSequence">
         <wsdl:input message="tns:getSequenceRequest" wsaw:Action="urn:getSequence"/>
         <wsdl:output message="tns:getSequenceResponse" wsaw:Action="urn:getSequenceResponse"/>
         <wsdl:fault message="tns:SequenceAdminServiceSequenceEditorException" name="SequenceAdminServiceSequenceEditorException" wsaw:Action="urn:getSequenceSequenceAdminServiceSequenceEditorException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SequenceAdminServiceSoap11Binding" type="tns:SequenceAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="saveDynamicSequence">
         <soap:operation soapAction="urn:saveDynamicSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEntryNamesString">
         <soap:operation soapAction="urn:getEntryNamesString" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="saveSequence">
         <soap:operation soapAction="urn:saveSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequencesCount">
         <soap:operation soapAction="urn:getSequencesCount" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequenceCount">
         <soap:operation soapAction="urn:getDynamicSequenceCount" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequences">
         <soap:operation soapAction="urn:getSequences" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addSequence">
         <soap:operation soapAction="urn:addSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateDynamicSequence">
         <soap:operation soapAction="urn:updateDynamicSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteSequence">
         <soap:operation soapAction="urn:deleteSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="isExistingSequenceForTenant">
         <soap:operation soapAction="urn:isExistingSequenceForTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteSequenceForTenant">
         <soap:operation soapAction="urn:deleteSequenceForTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteSelectedSequence">
         <soap:operation soapAction="urn:deleteSelectedSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequence">
         <soap:operation soapAction="urn:getDynamicSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="enableTracing">
         <soap:operation soapAction="urn:enableTracing" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDependents">
         <soap:operation soapAction="urn:getDependents" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="enableStatistics">
         <soap:operation soapAction="urn:enableStatistics" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="isExistingSequence">
         <soap:operation soapAction="urn:isExistingSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="disableStatistics">
         <soap:operation soapAction="urn:disableStatistics" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addDynamicSequence">
         <soap:operation soapAction="urn:addDynamicSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequences">
         <soap:operation soapAction="urn:getDynamicSequences" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addSequenceForTenant">
         <soap:operation soapAction="urn:addSequenceForTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequenceForTenant">
         <soap:operation soapAction="urn:getSequenceForTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteAllSequence">
         <soap:operation soapAction="urn:deleteAllSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequencesSearch">
         <soap:operation soapAction="urn:getSequencesSearch" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="disableTracing">
         <soap:operation soapAction="urn:disableTracing" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteDynamicSequence">
         <soap:operation soapAction="urn:deleteDynamicSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequence">
         <soap:operation soapAction="urn:getSequence" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SequenceAdminServiceSoap12Binding" type="tns:SequenceAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="saveDynamicSequence">
         <soap12:operation soapAction="urn:saveDynamicSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEntryNamesString">
         <soap12:operation soapAction="urn:getEntryNamesString" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="saveSequence">
         <soap12:operation soapAction="urn:saveSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequencesCount">
         <soap12:operation soapAction="urn:getSequencesCount" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequenceCount">
         <soap12:operation soapAction="urn:getDynamicSequenceCount" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequences">
         <soap12:operation soapAction="urn:getSequences" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addSequence">
         <soap12:operation soapAction="urn:addSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateDynamicSequence">
         <soap12:operation soapAction="urn:updateDynamicSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteSequence">
         <soap12:operation soapAction="urn:deleteSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="isExistingSequenceForTenant">
         <soap12:operation soapAction="urn:isExistingSequenceForTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteSequenceForTenant">
         <soap12:operation soapAction="urn:deleteSequenceForTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteSelectedSequence">
         <soap12:operation soapAction="urn:deleteSelectedSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequence">
         <soap12:operation soapAction="urn:getDynamicSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="enableTracing">
         <soap12:operation soapAction="urn:enableTracing" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDependents">
         <soap12:operation soapAction="urn:getDependents" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="enableStatistics">
         <soap12:operation soapAction="urn:enableStatistics" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="isExistingSequence">
         <soap12:operation soapAction="urn:isExistingSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="disableStatistics">
         <soap12:operation soapAction="urn:disableStatistics" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addDynamicSequence">
         <soap12:operation soapAction="urn:addDynamicSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequences">
         <soap12:operation soapAction="urn:getDynamicSequences" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addSequenceForTenant">
         <soap12:operation soapAction="urn:addSequenceForTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequenceForTenant">
         <soap12:operation soapAction="urn:getSequenceForTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteAllSequence">
         <soap12:operation soapAction="urn:deleteAllSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequencesSearch">
         <soap12:operation soapAction="urn:getSequencesSearch" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="disableTracing">
         <soap12:operation soapAction="urn:disableTracing" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteDynamicSequence">
         <soap12:operation soapAction="urn:deleteDynamicSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSequence">
         <soap12:operation soapAction="urn:getSequence" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="SequenceAdminServiceSequenceEditorException">
            <soap12:fault use="literal" name="SequenceAdminServiceSequenceEditorException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SequenceAdminServiceHttpBinding" type="tns:SequenceAdminServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="saveDynamicSequence">
         <http:operation location="saveDynamicSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getEntryNamesString">
         <http:operation location="getEntryNamesString"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="saveSequence">
         <http:operation location="saveSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getSequencesCount">
         <http:operation location="getSequencesCount"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequenceCount">
         <http:operation location="getDynamicSequenceCount"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSequences">
         <http:operation location="getSequences"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addSequence">
         <http:operation location="addSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="updateDynamicSequence">
         <http:operation location="updateDynamicSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="deleteSequence">
         <http:operation location="deleteSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="isExistingSequenceForTenant">
         <http:operation location="isExistingSequenceForTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteSequenceForTenant">
         <http:operation location="deleteSequenceForTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="deleteSelectedSequence">
         <http:operation location="deleteSelectedSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequence">
         <http:operation location="getDynamicSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="enableTracing">
         <http:operation location="enableTracing"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDependents">
         <http:operation location="getDependents"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="enableStatistics">
         <http:operation location="enableStatistics"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="isExistingSequence">
         <http:operation location="isExistingSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="disableStatistics">
         <http:operation location="disableStatistics"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addDynamicSequence">
         <http:operation location="addDynamicSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getDynamicSequences">
         <http:operation location="getDynamicSequences"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addSequenceForTenant">
         <http:operation location="addSequenceForTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getSequenceForTenant">
         <http:operation location="getSequenceForTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteAllSequence">
         <http:operation location="deleteAllSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getSequencesSearch">
         <http:operation location="getSequencesSearch"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="disableTracing">
         <http:operation location="disableTracing"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteDynamicSequence">
         <http:operation location="deleteDynamicSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getSequence">
         <http:operation location="getSequence"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SequenceAdminService">
      <wsdl:port name="SequenceAdminServiceHttpsSoap11Endpoint" binding="tns:SequenceAdminServiceSoap11Binding">
         <soap:address location="https://10.16.118.52:9443/services/SequenceAdminService.SequenceAdminServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="SequenceAdminServiceHttpsSoap12Endpoint" binding="tns:SequenceAdminServiceSoap12Binding">
         <soap12:address location="https://10.16.118.52:9443/services/SequenceAdminService.SequenceAdminServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="SequenceAdminServiceHttpsEndpoint" binding="tns:SequenceAdminServiceHttpBinding">
         <http:address location="https://10.16.118.52:9443/services/SequenceAdminService.SequenceAdminServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>